body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dp-btn {
    width: 150px;
    height: 60px;
    position: relative;
    background-color: beige;
    color: rgb(4, 46, 83);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.dp-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(232, 236, 199);
    z-index: 1;
}

.dp-content a {
    color: green;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dp-content a:hover {
    background-color: rgb(40, 214, 224);
}

.dropdown:hover .dp-content {
    display: block;
}

.dropdown:hover .dp-btn {
    background-color: rgb(222, 238, 207);
}