body, html
{
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para1, .para2
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para1
{
    background-image: url(https://images.nintendolife.com/c95b0fb2a1e47/fireemblemawakening.large.jpg);
    min-height: 100%;
    color: white;
}

.para2
{
    background-image: url(https://img-eshop.cdn.nintendo.net/i/e815b3fc125676ccb08c809b2e6161e725d4b14378c3c15d960908572578fb61.jpg);
    min-height: 100%;
    color: rgb(69, 59, 45);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-block
{
    background-color: whitesmoke;
    color: rgb(245, 242, 242);
    text-align: center;
    padding: 500px 20px;
}