body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	/* change color in css but not html, with 'var' */
}

.container
{
	text-align: center;
}

button
{
	font-size: 15px;
	cursor: pointer;
	padding: 15px 30px;
	background-color: beige;
	border-radius: 8px;
	
}