body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8f9fa;
}

html {
    scroll-padding-top: 70px;
    /* navi bar wont overlap */
    scroll-behavior: smooth;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-section {
    text-align: center;
    padding: 5rem 1rem;
    color: white;
    font-weight: 700;
}

.profilePic {
    width: 111px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.profileName {
    font-size: 2.5rem;
}

/* .resume {
    background-image: ;
    background-size: ;
} */

.prof {
    color: white;
}

.kitchenlink {
    color: #c7c1c1;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.kitchenlink:hover {
    color: #e30b0bcf;
    text-decoration:overline;
    font-size: 1rem;
    font-weight: 800;
}

/* .exp, .ski {
    text-align: center;
    color: white;
    padding: 5rem 1rem;
} */


.exp, .ski {
    background: rgba(255,255,255,0.05);
    padding: 2rem;
    border-radius: 16px;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    text-align: center;
    color: white;
    padding: 5rem 1rem;
}
  
.exp:hover, .ski:hover {
  background: rgba(53, 46, 46, 0.639);
  box-shadow: 0 0 25px rgba(255,255,255,0.4);
}
  

.section-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.seflintro, .jobtitle {
    color: whitesmoke;
    text-shadow: black;
    /* font-style: oblique; */
    font-style: italic;
    text-shadow: 2px 1px 3px rgba(0,0,0,0.6);
}

.getTouch {
    text-align: center;
    border-radius: 12px;
    background-color: whitesmoke;
    /* opacity: 75%; */
    background-color: rgba(174, 171, 171, 0.75);
    text-shadow: 1.5rem;
    padding: 1rem 0.6rem;
    font-style: italic;
    box-shadow: 0 4px 8px rgba(200, 196, 196, 0.2);
    text-shadow: 2px 2px 4px rgba(72, 77, 122, 0.6);
    max-width: 400px;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.btns {
    color: lightgray;
    padding: 0.7rem;
    border: none;
    /* background-color: lightgrey; */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* opacity: 60%; */
    font-style: oblique;
}

.btns:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #333;
}

.resume {
    background-image: url(https://images.pexels.com/photos/3001996/pexels-photo-3001996.jpeg?cs=srgb&dl=pexels-maumascaro-3001996.jpg&fm=jpg);
    background-size: cover;
    animation: gradient 40s ease infinite;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* opacity: 0.5; */
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}