body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.homeBg {
    background-image: url(https://cdn.mos.cms.futurecdn.net/ixVt82uzEVx6XJR3kbAucd.jpg);
    background-size: cover;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.full-height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    /* border: 4px solid #fff; */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}

.introWD {
    font-style: italic;
    color: rgb(54, 52, 52);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    /* border: none; */
}

.intro-text {
    color: whitesmoke;
    font-size: 1.3rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* .lead {
    color: whitesmoke;
    font-size: 1.3rem;
} */

.cvBtn {
    font-family: 'Poppins', sans-serif;
    /* font-style: italic; */
    padding: 0.6rem 1.1rem;
    border: none;
    font-weight: 400;
    font-size: 22px;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(172, 167, 167, 0.2);
}

.cvBtn:hover {
    transform: scale(1.4);
    border-radius: 70%;
    box-shadow: 0 11px 16px rgba(0,0,0,0.3);
    text-decoration: none;
}

.btn-light.cvBtn:hover {
    background-color: rgb(170, 174, 174);
}

.btn-secondary.cvBtn:hover {
    background-color: white;
}

.button-goup {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1rem;
}